html,body,.mainFooterItem ul{
	margin:0;
	padding:0;
}
.header,.footer,.copyright,.slider,.headLinesItem img, .newsItem img, .mainFooter{
	width:100%;
}
.clear{
	clear:both;
	height:10px;
}
.wrap {
	width:960px;
	margin:0 auto;
}
.header,.mainFooter {
	background:#333333;
}
.header,.copyright{
	height:100px;
}
.mainFooter,.frame{
	height:200px;
}
.copyright{
	background:#232323;
}
.slider,.frame{
	overflow:hidden;
}
.slider{
	height:360px;
}
.navigation,.developer{
	float:right;
}
.navigation ul li{
	display:inline-block;
	text-transform: uppercase;
}
.newsItem{
	width:calc((100% - 40px)/3);
	padding:10px;
}
.news div:first-child{
	padding-left:0px;
}
.news div:last-child{
	padding-right:0px;
}
.headLinesItem,.mainFooterItem,.copyrightItem,.newsItem,.logo{
	float:left;
}
.headLinesItem{
	width:50%;
}
.mainFooterItem{
	width:25%;
	text-align:center;
}
.mainFooterItem ul{
	width:95%;
}
.mainFooterItem li{
	list-style: none;
	border-bottom:1px solid gray;
}
